.badge-tool {
    margin-right: 10px;
}

.badge-light {
    background-color: #BBB;
}

.badge-danger {
    background-color: #EF7C7C;
}

.cube {
    height: 100px;
    padding-top: 35px;
    padding-bottom: 35px;
}

.just {
    padding-left: 10px;
}
